# OptiTrack WMS Frontend Environment
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=268121767903-ft177gsc17o94jveueiqh72d0050tqfn.apps.googleusercontent.com

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://hdvalaxaujjyqcejhyqb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkdmFsYXhhdWpqeXFjZWpoeXFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNjYwODQsImV4cCI6MjEwMzg0MjA4NH0.JbTv5a-PwcLgVdie7wZej1hZFBXgLErHDun3kE_I7wg